<html>
    <head></head>
    <body>
        <p>Hola {{from_name}},</p>
        <p>
            Muchas gracias por tomarte el tiempo de visitar mi portafolio
            fotogr&aacute;fico y enviarme un mensaje. Aprecio profundamente tu
            inter&eacute;s en mi trabajo, donde cada imagen busca contar
            historias y capturar momentos &uacute;nicos.
        </p>
        <p>
            Te responder&eacute; tu mensaje lo antes posible y, mientras tanto,
            te invito a visitar mi cuenta de Instagram 📸, donde podr&aacute;s
            encontrar m&aacute;s de mi trabajo y seguir explorando nuevas
            fotograf&iacute;as:<br />👉
            <a
                href="https://www.instagram.com/raimundodelrio/"
                target="_new"
                rel="noopener"
                ><strong>@raimundodelrio</strong></a
            >
        </p>
        <p>&iexcl;Es un placer contactar contigo!</p>
        <p>Un cordial saludo,</p>
        <p><br /><strong>Raimundo del R&iacute;o C.</strong></p>
        <p><em>Fot&oacute;grafo de momentos y culturas</em></p>
        <p>--</p>
        <p>Datos recibidos:</p>
        <p>Nombre: {{from_name}}</p>
        <p>Email: {{from_email}}</p>
        <p>Tel&eacute;fono: {{from_phone}}</p>
        <p>Mensaje: {{comment}}</p>
        <p><em>-----</em></p>
        <p>
            <span style="color: #a65454"><em>Hello {{from_name}},</em></span>
        </p>
        <p>
            <span style="color: #a65454"
                ><em
                    >Thank you so much for taking the time to visit my
                    photography portfolio and for reaching out. I truly
                    appreciate your interest in my work, where each image
                    strives to tell stories and capture unique moments.</em
                ></span
            >
        </p>
        <p>
            <span style="color: #a65454"
                ><em
                    >I will respond to your message as soon as possible. In the
                    meantime, I invite you to explore my Instagram page 📸,
                    where you can discover more of my work and continue
                    exploring new photographs:</em
                ></span
            ><br /><span style="color: #a65454"
                ><em
                    >👉
                    <a
                        style="color: #a65454"
                        href="https://www.instagram.com/raimundodelrio/"
                        target="_new"
                        rel="noopener"
                        ><strong>@raimundodelrio</strong></a
                    ></em
                ></span
            >
        </p>
        <p>
            <span style="color: #a65454"
                ><em>It&rsquo;s a pleasure to connect with you!</em></span
            >
        </p>
        <p>
            <span style="color: #a65454"><em>Best regards,</em></span>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="color: #a65454"
                ><em><strong>Raimundo del R&iacute;o C.</strong></em></span
            >
        </p>
        <p>
            <span style="color: #a65454"
                ><em
                    >Photographer of moments<span style="color: #ba372a">
                        and cultu</span
                    >res</em
                ></span
            >
        </p>
        <p>
            <span style="color: #a65454"><em>-----</em></span>
        </p>
        <p>
            <span style="color: #a65454"><em>Received data:</em></span>
        </p>
        <p><span style="color: #ba372a">Name: {{from_name}}</span></p>
        <p><span style="color: #ba372a">Email: {{from_email}}</span></p>
        <p><span style="color: #ba372a">Phone: {{from_phone}}</span></p>
        <p><span style="color: #ba372a">Message: {{comment}}</span></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </body>
</html>
